table{
    border:2px solid black;
    background-color: aquamarine;
    margin: 10px 0;
    border-radius: 25px;
    padding: 10px;
    width:100%;
    height:40%;
}

th{
    background-color: rgb(5, 240, 162);
    border : 2px solid black;  
    padding: 5px; 
    text-align: center;
    font-weight: bold;
    font-family: Calibri;
    font-size: 16px;
}

td{
    background-color: rgb(122, 236, 198);
    border : 2px solid black;  
    padding: 5px; 
    text-align: center; 
    font-family: Calibri;
}

#tbarang{ 
    width:20%;
    margin: 10px 0;
    border:2px solid black;
    background-color:aliceblue;
    border-radius: 25px;
    padding: 10px;
}


#ubarang{
    width:50%;
    margin: 30px 0;
    border:2px solid black;
    background-color:aliceblue;
    border-radius: 25px;
    padding: 10px;
}


h1,h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Calibri;
}

.button1{
    border:3px solid rgb(4, 150, 101);
    border-radius: 25px;
    width:100px;
    height: 30px;
    color: white;
    cursor: pointer;
    background-color:rgb(48, 174, 132);
    font-weight: bold;
    
}

.button2, .button3{
    border: 3px solid green;
    width: 100px;
    height: 25px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(172, 124, 53);
    font-weight: bold;
    margin-right: 10px ;
}

input[type=text]{
    width: 100%;
    height: 50px;
    margin: 5px 0;
    color: black;
    border-radius: 10px;
    background-color: lightblue;
}

label{
    font-weight: bold;
    font-size: 15px;
    font-family: Calibri;
}
