label, #hasil{
    font-size: 22px;
    margin: 7px;
}

body{
    margin: 7px;
    padding: 22px;
}

form{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;
    width: 300px;
    background-color: #FFC94A;
}

input[type=text]{
    margin: 5px;
    height: 25px;
    width: 200px;
}

.hitung{
    background-color: #453F78;
    font-size: 19px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 40px;
}